.searchBar {
    width: 70%;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc; /* Example border color from SVG */
    border-radius: 35px; /* Example border radius from SVG */
    background-color: #f9f9f9; /* Example background color from SVG */
    font-size: 16px; /* Example font size */
    color: #333; /* Example text color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow from SVG */
  }

.searchBar::placeholder {
    text-align: center;
    color: #000;
    font-weight: bold;
    display: none
  }

.container {
    display: flex;
    justify-content: center;
}

